.tooltip {
  position: absolute;
  z-index: 500;
  background: rgba(0, 0, 0, .6);
  box-shadow: 0 0 0 2px #7A86B6, 0 0 0 6px rgba(0, 0, 0, .6);
  padding: .5rem;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: .9rem;
  max-width: 170px;
  border-radius: 2px;
  top: 0px;
  left: 0px;
}
